@{
    ViewData["Title"] = "Home Page";
    var product = new Product() { Id = 1, Name = "Kalem", Price = 100, Stock = 200 };
}

<div class="container-fluid">
    <div class="row">
    <div class="col-md-4">
        <partial name="~/PartialViews/_ProductListPartialView.cshtml" model="ViewBag.productListPartialViewModel" />
    </div>

    <div class="col-md-4">
        @*1. yol*@
        @*@await Component.InvokeAsync("ProductList",new {type=1})*@
        @*2. yol kullanışlı olan*@
        <vc:product-list type=1></vc:product-list>
    </div>

    <div class="col-md-4">
        <italic>Asp.Net Core</italic>
        <product-show product="@product"></product-show>
    </div>
</div>
</div>

<img src="images/car.jpg" />
<thumbnail image-src="images/car.jpg"></thumbnail>

